{% extends "base.html" %}

{% block content %}
    <h1>Conferences</h1>
    {% for conference in object_list %}
        <h3><a href="{% url 'conference_detail' conference.pk %}">{{ conference.name|title }}</a></h3>
        <p>{{ conference.theme }}</p>
        <p>{{ conference.start_time }}</p>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}