    {% load static %}
    {% load static swampdragon_tags %}

    {% swampdragon_settings %}
    <script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'swampdragon/js/dist/datamapper.js' %}"></script>
    <script type="text/javascript" src="{% static 'swampdragon/js/angular/services.js' %}"></script>
    <script type="text/javascript" src="{% static 'notification.js' %}"></script>

    <!doctype html>
    <html>
        <head>
            <title>Conferences App</title>
            <meta charset="utf-8">
            <meta name="description" content="Conferences App">
        </head>
        <body>
            <div class="container">
                <header>
                    <div class="welcome">
                        {% if request.user.is_authenticated %}
                            <p>Hello {{ request.user.get_full_name|default_if_none:request.user.email }}, you last logged in at {{ request.user.last_login|date:"D d M Y" }} |
                                <a href="{% url 'list_conferences' %}">Conferences</a> |
                                <a href="{% url 'archive_conferences' %}">Conferences Archive</a> |
                                <a href="{% url 'show_all_news' %}">Blog</a> |
                                <a href="{% url 'show_account' request.user.id %}">My profile</a> |
                                <a href="{% url 'logout' %}">Logout</a></p>
                        {% else %}
                            <p>Welcome guest! <a href="{% url 'login' %}">Login</a> or <a href="{% url 'user_registration' %}">Register</a></p>
                        {% endif %}
                    </div>
                </header>
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
        </body>
    </html>
