{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for error in form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <p><a href="{% url 'password_change' %}">Change password</a></p>
        <input type="submit" value="Update">
    </form>
{% endblock %}