{% extends "base.html" %}

{% block content %}
    <h3>Message</h3>
    <h4>From: {{ object.sender.get_full_name|default_if_none:object.sender.email }}</h4>
    <h4>To: {{ object.recipient.get_full_name|default_if_none:object.recipient.email }}</h4>
    <p>Sent at: {{ object.created }}</p>
    <p>Text:<br> {{ object.text }}</p>

    {% if object.sender.id != request.user.id %}
        <p><a href="{% url 'new_message' object.sender.pk %}">Response</a></p>
    {% endif %}
{% endblock %}