{% extends "base.html" %}

{% block content %}
    <h3>Inbox</h3>
    <table>
        <thead>
            <tr>
                <th>Sender</th>
                <th>Message</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for message in object.messages_received.all %}
                <tr id="message">
                    <td>{{ message.sender.get_full_name|default_if_none:message.sender.email }}</td>
                    {% if message.unread %}
                    <td><b>NEW!</b><a href="{% url 'show_message' pk=message.id %}">{{ message.text }}</a></td>
                    {% else %}
                    <td><a href="{% url 'show_message' pk=message.id %}">{{ message.text }}</a></td>
                    {% endif %}
                    <td>{{ message.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h3>Sent</h3>
    <table>
        <thead>
            <tr>
                <th>Sent to</th>
                <th>Message</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for message in object.messages_sent.all %}
                <tr>
                    <td>{{ message.recipient.get_full_name|default_if_none:message.recipient.email }}</td>
                    {% if message.unread %}
                    <td><b>UNREAD</b> <a href="{% url 'show_message' pk=message.id %}">{{ message.text }}</a> </td>
                    {% else %}
                    <td><a href="{% url 'show_message' pk=message.id %}">{{ message.text }}</a></td>
                    {% endif %}
                    <td>{{ message.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}