{% extends "base.html" %}

{% block content %}
    <h3><em>Write new message</em></h3>
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for error in form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            <label>{{ form.text.label }}</label>
            {{ form.text }}
        </div>

        {% if form.text.errors %}
            <div class="form-error">
                {% for error in form.text.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <input type="submit" value="Send">
    </form>
{% endblock %}