{% extends "base.html" %}

{% block content %}
    <h1>Our Blog</h1>
    {% for post in object_list %}
        <h3>{{ post.topic|title }}</h3>
        <p>{{ post.text }}</p>
        <p>{{ post.author.get_full_name|default_if_none:post.author.email }} / {{ post.created }}</p>
    {% endfor %}

    {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
    {% endif %}
{% endblock %}