{% extends "base.html" %}

{% block content %}
    <h1>Registration</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for error in form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            <label>{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </div>
        <div>
            <label>{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>
        <div>
            <label>{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div>
            <label>{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <div>
            <label>{{ form_profile.company.label }}</label>
            {{ form_profile.company }}
        </div>
        <div>
            <label>{{ form_profile.avatar.label }}</label>
            {{ form_profile.avatar }}
        </div>
        <div>
            <label>{{ form.password.label }}</label>
            {{ form.password }}
        </div>
        <div>
            <label>{{ form.password_confirm.label }}</label>
            {{ form.password_confirm }}
        </div>

        {% if form.errors %}
            <div class="form-error">
                {% for field in form %}
                    <span>{{ field.errors }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <input type="submit" value="Register">
    </form>
{% endblock %}