{% extends "base.html" %}

{% block content %}
    <h1>{{ account.get_full_name|default_if_none:account.email }}</h1>
    <p>Email: {{ account.email }}</p>

    {% if account.company %}
        <p>Company: <a href="{% url 'show_account' pk=account.company.pk %}">{{ account.company.get_full_name|default_if_none:account.company.email }}</a></p>
        {% if account.company.avatar %}
            <img src="/static/media/{{ account.company.avatar }}" alt="">
        {% endif %}
    {% endif %}

    {% if account.representatives.all %}
        <p>Company Representatives:</p>
        <ul>
            {% for representative in account.representatives.all %}
                <li><a href="{% url 'show_account' pk=representative.pk %}">{{ representative.get_full_name|default_if_none:representative.email }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if account.avatar %}
        <p><img src="/static/media/{{ account.avatar }}" alt="user_avatar"></p>
    {% endif %}

    <p>Registered: {{ account.register_date }}</p>

    {% if account.conferences_participant.all %}
        <h4>Conferences Listener</h4>
        <ul>
            {% for conference in account.conferences_participant.all %}
                <li><a href="{% url 'conference_detail' pk=conference.pk %}">{{ conference.name }}</a> / {{ conference.start_time }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if account.conferences_speaker.all %}
        <h4>Conferences Speaker</h4>
        <ul>
            {% for conference in account.conferences_speaker.all %}
                <li><a href="{% url 'conference_detail' pk=conference.pk %}">{{ conference.name }}</a> / {{ conference.start_time }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if account.is_company %}
        <h4>Conferences Sponsor</h4>
        <ul>
            {% for conference in account.conferences_sponsor.all %}
                <li><a href="{% url 'conference_detail' pk=conference.pk %}">{{ conference.name }}</a> / {{ conference.start_time }}</li>
            {% endfor %}
        </ul>

    {% endif %}

    {% if is_owner %}
        <a href="{% url 'edit_user_profile' account.pk %}">Edit profile</a> |
        <a href="{% url 'messages' %}">My messages</a>
    {% else %}
        <a href="{% url 'new_message' account.pk %}">Send message</a>
    {% endif %}

{% endblock %}