{% extends "base.html" %}

{% block content %}
    <h1>Conference Listeners</h1>
    {% if conference.is_over %}
        <p>List of listeners will be available after the conference</p>
    {% else %}
        {% for listener in conference.participants.all %}
            <ul>
                <li><a href="{% url 'show_account' listener.pk %}">{{ listener.get_full_name|default:listener.email }}</a></li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}