{% extends "base.html" %}

{% block content %}
    <h1>{{ conference.name }}</h1>
    <h4>{{ conference.theme }}</h4>
    <p>Time: {{ conference.start_time }} - {{ conference.end_time }}</p>
    <p><b>Description:</b> {{ conference.description }}</p>

    {% if conference.sponsors.all %}
        <h2>Conference Sponsors</h2>
        <ul>
            {% for sponsor in conference.sponsors.all %}
                <li><a href="{% url 'show_account' pk=sponsor.pk %}">{{ sponsor.get_full_name|default_if_none:sponsor.email }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if conference.speakers %}
        <h2>Conference Speakers</h2>
        <ul>
            {% for speaker in conference.speakers.all %}
                <li><a href="{% url 'show_account' pk=speaker.pk %}">{{ speaker.get_full_name|default:speaker.email }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'conference_listeners' pk=conference.id %}"><h2>Conference Listeners</h2></a>

    {% if conference.is_register_available %}
        <a href="{% url 'conference_registration' pk=conference.pk %}">Register</a>
    {% endif %}
{% endblock %}